<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/communicable-disease/css/bootstrap.min.css">
<link rel="stylesheet" href="/communicable-disease/css/jquery-ui.css">
<link rel="stylesheet" href="/communicable-disease/css/custom.css">
<script src="/communicable-disease/js/jquery-3.1.1.min.js"></script>
<script src="/communicable-disease/js/jquery-ui.js"></script>
<script src="/communicable-disease/js/bootstrap.min.js"></script>
<script src="/communicable-disease/js/form544-custom.js"></script>
<script src="/communicable-disease/js/Chart.min.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<canvas id="diseaseVsCount"></canvas>
			</div>

		</div>
		<div class="row">
			<div class="col-md-9">
				<canvas id="mohVsDiseaseCount"></canvas>
			</div>
		</div>
	</div>

	<div id="footer"></div>


</body>


<!-- TODO
Header, Footer, menu should be included.
Frontend validations should be included.
Try to make common the imports.
Style the content with spacing and margins

 -->

<script th:inline="javascript">
	/*<![CDATA[*/
    var diseaseCounts = [[${diseaseCounts}]]; 
	var diseaseVsMohCounts = [[${mohAreaVsDiseaseSummaryList}]];
	
	data = composeDiseaseVsMohAreaData(diseaseVsMohCounts);
	
	 /*]]>*/
	 	
	 /* Disease Vs Count Chart Start */
	 var diseaseCountChartData = {
			labels: composeDiseaseNameLblArray(diseaseCounts),
	 		datasets: [
	 		           		{
								data: composeDiseaseCounts(diseaseCounts),
								label: "Communicable Diseases",
								backgroundColor: "rgba(75,192,192,0.4)"
	 		           		}
	 		           ]
	 };
	 
	 function composeDiseaseNameLblArray(diseaseCountsArr){
		 var diseaseLblArr = new Array();
		 
		 for(var count =0; count<diseaseCountsArr.length; count++){
			 diseaseLblArr[count] = diseaseCountsArr[count][0];
		 }
		 
		 return diseaseLblArr;
	 }
	 
	 function composeDiseaseCounts(diseaseCountsArr){
		 var counts = new Array();
		 
		 for(var count =0; count<diseaseCountsArr.length; count++){
			 counts[count] = diseaseCountsArr[count][1];
		 }
		 
		 return counts;
	 }
     
	 /* Disease Vs Count Chart End */    
     
     /* MOH Vs Disease Counts Chart Start */
	 
	 var mohVsDiseaseCountChartData = {
				labels: composeMohNameLblArray(diseaseVsMohCounts),
		 		datasets: composeDiseaseVsMohAreaData(diseaseVsMohCounts)
		 };
	 
	 function composeMohNameLblArray(diseaseVsMohCounts){
		var mohAreaLbls = new Array();
		 
		 for(var count =0; count<diseaseVsMohCounts.length; count++){
			 mohAreaLbls[count] = diseaseVsMohCounts[count].mohArea;
		 }
		 
		 return mohAreaLbls;
	 }
	 
	 function defineMohDiseaseCountDataSets(diseaseLbls){
		 var colorArr = ['#C0C0C0', '#000000', 
		                 '#FF0000', '#800000', 
		                 '#FFFF00', '#808000', 
		                 '#00FF00', '#008000', 
		                 '#00FFFF', '#008080', 
		                 '#0000FF', '#000080', 
		                 '#FF00FF', '#800080', 
		                 '#715147', '#462c24', 
		                 '#520340', '#1d138c',
		                 '#5d1c07', '#ff1b1b',
		                 '#3d4479', '#a562a4',
		                 '#093518', '#4dc729',
		                 '#355252', '#715920',
		                 '#ad0808', '#9c6e98',
		                 '#13634a', '#94cab9'];
		 
		 var dataSets = new Array();
		 for(counter=0; counter<diseaseLbls.length;counter++){
			 var dataSet = {
				label: diseaseLbls[counter],
			 	backgroundColor: colorArr[counter],
			 	data: []
			 };
			 
			 dataSets[counter] = dataSet;
		 }
		 
		 return dataSets;
	 }
	 
	 function composeDiseaseVsMohAreaData(diseaseVsMohCounts){
		 var definedDataSets = defineMohDiseaseCountDataSets(composeDiseaseNameLblArray(diseaseCounts));
		 
		 for(var counter=0; counter<diseaseVsMohCounts.length;counter++){
			 var diseaseVsPatientCountSummeries = diseaseVsMohCounts[counter].diseaseVsPatientSummaryDtos;
			 
			 for(var counter2=0; counter2<diseaseVsPatientCountSummeries.length; counter2++){
				 
				 var targetDataSet = definedDataSets.filter(function( obj ) {
					  return obj.label == diseaseVsPatientCountSummeries[counter2].diseaseName;
				});
				 
				 targetDataSet[0].data[counter] = diseaseVsPatientCountSummeries[counter2].count;
			 }
		 }
		 
		 for(var counter3=0; counter3<definedDataSets.length; counter3++){
			 
			 for(var counter4=0; counter4<14; counter4++){
				 if(definedDataSets[counter3].data[counter4] == undefined){
					 definedDataSets[counter3].data[counter4] = 0;
				 }
			 }
		 }
		 
		 return definedDataSets;
	 }
	 
	 /* MOH Vs Disease Counts Chart End */
	 
	      window.onload = function() {
    	 var currentDate = new Date();
    	 
         var ctx = document.getElementById("diseaseVsCount").getContext("2d");
         window.myBar = new Chart(ctx, {
             type: 'bar',
             data: diseaseCountChartData,
             options: {
                 responsive: true,
                 legend: {
                     position: 'top',
                 },
                 title: {
                     display: true,
                     text: currentDate.getFullYear() + ' Communicable Disease Trend'
                 }
             }
         });

         var ctx1 = document.getElementById("mohVsDiseaseCount").getContext("2d");
         window.myBar1 = new Chart(ctx1, {
             type: 'bar',
             data: mohVsDiseaseCountChartData,
             options: {
                 title:{
                     display:true,
                     text: currentDate.getFullYear() + ' MOH wise Disease Distribution'
                 },
                 tooltips: {
                     mode: 'index',
                     intersect: false
                 },
                 responsive: true,
                 scales: {
                     xAxes: [{
                         stacked: true,
                     }],
                     yAxes: [{
                         stacked: true
                     }]
                 }
             }
         });

     };
	 
 </script>