<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/communicable-disease/css/bootstrap.min.css">
<link rel="stylesheet" href="/communicable-disease/css/jquery-ui.css">
<link rel="stylesheet" href="/communicable-disease/css/custom.css">
<script src="/communicable-disease/js/jquery-3.1.1.min.js"></script>
<script src="/communicable-disease/js/jquery-ui.js"></script>
<script src="/communicable-disease/js/bootstrap.min.js"></script>
<script src="/communicable-disease/js/form544-custom.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div class="container">
		<h3>You are in dashboard</h3>
	</div>

	<div id="footer"></div>


</body>


<!-- TODO
Header, Footer, menu should be included.
Frontend validations should be included.
Try to make common the imports.
Style the content with spacing and margins

 -->