<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Periodic Dengue Report</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/jquery.dataTables.min.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/report-custom.js"></script>

<style media="screen, print">

</style>

</head>
<body>

</body>
</html>

<script th:inline="javascript">

	/*<![CDATA[*/
	//processObjList([[${mohAreaVsDiseaseSummaryList}]]);
	 /*]]>*/
	 
	 
	
</script>