<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Map Filter</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/jquery.dataTables.min.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/map-custom.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div class="container">
		<div class="page-header page-title-header">
			<h2>Disease Wise Distribution Map</h2>
		</div>
		<form id="mapFilterTbl" th:action="@{/Maps/diseaseWiseDistMap}"
			method="post" target="_blank">
			<div class="form-group">
				<label for="disease">Disease:</label> <select
					class="form-control" id="disease"
					name="disease">
					<option value="">Select Disease</option>
					<option th:each="disease:${diseaseList}"
						th:value="${disease.id}"
						th:text="${disease.diseaseName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="district">District:</label> <select class="form-control"
					id="district" name="district">
					<option value="" selected>Select District</option>
					<option th:each="district:${districtList}"
						th:value="${district.id}" th:text="${district.districtName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="district">MOH Area:</label> <select class="form-control"
					id="mohArea" name="mohArea"></select>
			</div>
			<div class="form-group">
				<label for="diseaseConfirmedDateFrom">Filter Period [From]:</label> 
				<input type="text" class="form-control"
					id="fromPeriod" name="fromPeriod"
					placeholder="Select a start date for filtering period">
			</div>
			<div class="form-group">
				<label for="toPeriod">Filter Period [To]:</label> 
				<input type="text" class="form-control"
					id="toPeriod" name="toPeriod"
					placeholder="Select a end date for filtering period">
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" id="csrfToken"/>
			<div>
				<button type="submit" class="btn btn-success pull-right">Search</button>
				<button type="button" class="btn btn-default pull-right"
					style="margin-right: 5px; width: 70px">Reset</button>
			</div>
		</form>
	</div>
	<div id="footer"></div>
</body>

<!-- TODO
Frontend validations should be included.
Style the content with spacing and margins

 -->