<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Form 411</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/form411-custom.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div>
		<div class="container">
			<div class="page-header page-title-header">
				<h2>Update Form 411</h2>
			</div>
			<form th:action="@{/Form411/update}" method="post">
				<div class="form-group">
					<label for="name">Form 411 ID:</label> <input type="text"
						class="form-control" th:value="${form411Object.id}" id="form411Id"
						name="form411Id" readonly />
				</div>
				<div class="form-group">
					<label for="name">Name:</label> <input type="text"
						class="form-control" id="name" name="name"
						placeholder="Enter Patient's Name"
						th:value="${form411Object.patientName}">
				</div>
				<div class="form-group">
					<label for="age">Age:</label> <input type="text"
						class="form-control" id="age" name="age"
						placeholder="Enter Patient's Age" th:value="${form411Object.age}">
				</div>
				<div class="form-group">
					<label for="sex">Sex:</label> <select class="form-control"
						name="sex" id="sex">
						<option th:each="sex:${sexList}" th:value="${sex}"
							th:text="${sex}" th:selected="${ sex==form411Object.sex }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="home_address">Patient Address:</label> <input
						type="text" class="form-control" name="address" id="address"
						placeholder="Enter Patient's Address"
						th:value="${form411Object.patientAddress}">
				</div>
				<div class="form-group">
					<label for="ethnicGroup">Ethnic Group:</label> <select
						class="form-control" name="ethnicGroup" id="ethnicGroup">
						<option th:each="ethnicGroup:${ethnicGroupList}"
							th:value="${ethnicGroup}" th:text="${ethnicGroup}"
							th:selected="${ ethnicGroup==form411Object.ethnicGroup }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="notifiedDiseaseId">Notified Disease:</label> <select
						class="form-control" id="notifiedDiseaseId"
						name="notifiedDiseaseId">
						<option th:each="notifiedDisease:${diseaseList}"
							th:value="${notifiedDisease.id}"
							th:text="${notifiedDisease.diseaseName}"
							th:selected="${ notifiedDisease.diseaseName==form411Object.diseaseAsNotified.diseaseName }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="diseaseNotifiedDate">Date of Disease Notified:</label>
					<input type="text" class="form-control" id="diseaseNotifiedDate"
						name="diseaseNotifiedDate"
						placeholder="Select disease notified date"
						th:value="${form411Object.diseaseNotifiedDate}">
				</div>
				<div class="form-group">
					<label for="confirmedDiseaseId">Confirmed Disease:</label> <select
						class="form-control" id="confirmedDiseaseId"
						name="confirmedDiseaseId">
						<option th:each="confirmedDisease:${diseaseList}"
							th:value="${confirmedDisease.id}"
							th:text="${confirmedDisease.diseaseName}"
							th:selected="${ confirmedDisease.diseaseName==form411Object.diseaseConfirmed.diseaseName }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="diseaseConfirmedDate">Date of Disease
						Confirmed:</label> <input type="text" class="form-control"
						id="diseaseConfirmedDate" name="diseaseConfirmedDate"
						placeholder="Select disease confirmed date"
						th:value="${form411Object.diseaseConfirmedDate}">
				</div>
				<div class="form-group">
					<label for="dateOfOnset">Date of OnSet:</label> <input type="text"
						class="form-control" id="dateOfOnset" name="dateOfOnset"
						placeholder="Select date of OnSet"
						th:value="${form411Object.dateOfOnset}">
				</div>
				<div class="form-group">
					<label for="dateOfOnset">Date of Hospitalized:</label> <input
						type="text" class="form-control" id="dateOfHospitalization"
						name="dateOfHospitalization"
						placeholder="Select date of Hospitalized"
						th:value="${form411Object.dateOfHospitalization}">
				</div>
				<div class="form-group">
					<label for="dateOfDischarged">Date of Discharged:</label> <input
						type="text" class="form-control" id="dateOfDischarged"
						name="dateOfDischarged" placeholder="Select date of Discharged"
						th:value="${form411Object.dateOfDischarged}">
				</div>
				<div class="form-group">
					<label for="hospital">Name of Hospital:</label> <input type="text"
						class="form-control" id="hospital" name="hospital"
						placeholder="Enter Name of Hospital"
						th:value="${form411Object.nameOfHospital}">
				</div>
				<div class="form-group">
					<label for="outcome">Outcome:</label> <select class="form-control"
						name="outcome" id="outcome">
						<option th:each="outcome:${outcomeList}" th:value="${outcome}"
							th:text="${outcome}"
							th:selected="${ outcome==form411Object.outcome }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="isolated">Isolated at:</label> <select
						class="form-control" name="isolated" id="isolated">
						<option th:each="isolated:${isolatedList}" th:value="${isolated}"
							th:text="${isolated}"
							th:selected="${ isolated==form411Object.whereIsolated }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="patientMovement">Patient's Movements:</label>
					<textarea class="form-control" id="patientMovement"
						name="patientMovement"
						placeholder="Enter Details on Patient Movements"
						th:text="${form411Object.patientsMovements}"></textarea>
				</div>
				<div class="form-group">
					<label for="laboratoryFindings">Laboratory Findings:</label>
					<textarea class="form-control" id="laboratoryFindings"
						name="laboratoryFindings" placeholder="Enter Laboratory Findings"
						th:text="${form411Object.laboratoryFindings}"></textarea>
				</div>
				<div class="form-group">
					<label for="phiRange">PHI Area:</label> <input type="text"
						class="form-control" id="phiRange" name="phiRange"
						placeholder="Enter the PHI Area"
						th:value="${form411Object.phiRange}">
				</div>
				<div class="form-group">
					<label for="mohArea">MOH Area:</label> <input type="text"
						class="form-control" id="mohArea" name="mohArea"
						placeholder="Enter the MOH Area"
						th:value="${form411Object.mohArea}">
				</div>

				<!-- TODO Need to implement to send details of the contacted people table  -->
				<div class="form-group">
					<input type="hidden" name="contacts" id="contacts">
					<div class="row clearfix">
						<table class="table table-bordered table-hover" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th class="text-center">Name</th>
									<th class="text-center">Age</th>
									<th class="text-center">Date Seen</th>
									<th class="text-center">Observation</th>
								</tr>
							</thead>
							<tbody>
								<tr id='addr0'>
									<td>1</td>
									<td><input type="text" name='contactedName'
										id="contactedName" placeholder='Name' class="form-control" /></td>
									<td><input type="text" name='contactedAge'
										placeholder='Age' class="form-control" /></td>
									<td><input type="text" name='contactedDateSeen'
										class='contactedDateSeen' placeholder='Date Seen' /></td>
									<td><input type="text" name='contactedObservation'
										placeholder='Observation' class="form-control" /></td>
								</tr>
								<tr id='addr1'></tr>
							</tbody>
						</table>
					</div>
					<div>
						<a id="add_row" class="btn btn-default pull-right">Add Row</a><a
							id='delete_row' class="pull-right btn btn-default"
							style="margin-right: 5px">Delete Row</a>
					</div>
				</div>
				<br>
				<div class="form-group">
					<label for="longitude">Longitude:</label> <input type="text"
						class="form-control" id="longitude" name="longitude"
						placeholder="Enter the Longitude"
						th:value="${form411Object.longitude}">
				</div>
				<div class="form-group">
					<label for="lattitude">Latitude:</label> <input type="text"
						class="form-control" id="lattitude" name="lattitude"
						placeholder="Enter the Lattitude"
						th:value="${form411Object.lattitude}">
				</div>
				<div>
					<button type="submit" class="btn btn-success pull-right">Update</button>
					<button type="submit" class="btn btn-default pull-right"
						style="margin-right: 5px; width: 70px">Clear</button>
				</div>
			</form>
		</div>
	</div>

	<div id="footer"></div>
</body>

<!-- TODO
Clear btn doesn't function

 -->