<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Form 544</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/form544-custom.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div>
		<div class="container">
			<form th:action="@{/Form544/update}" method="post">
				<div class="form-group">
					<label for="id">Form 544 ID:</label> <input type="text"
						class="form-control" name="form544Id" id="form544Id"
						th:value="${form544Object.id}" readonly>
				</div>
				<div class="form-group">
					<label for="serialNo">Serial Number:</label> <input type="text"
						class="form-control" name="serialNo" id="serialNo"
						placeholder="Enter Serial Number"
						th:value="${form544Object.serialNo}">
				</div>
				<div class="form-group">
					<label for="name">Name:</label> <input type="text"
						class="form-control" id="patientName" name="patientName"
						placeholder="Enter Patient's Name"
						th:value="${form544Object.patientName}">
				</div>
				<div class="form-group">
					<label for="age">Age:</label> <input type="text"
						class="form-control" id="age" name="age"
						placeholder="Enter Patient's Age" th:value="${form544Object.age}">
				</div>
				<div class="form-group">
					<label for="sex">Sex:</label> <select class="form-control"
						name="sex" id="sex">
						<option th:each="sex:${sexList}" th:value="${sex}"
							th:text="${sex}" th:selected="${ sex==form544Object.sex }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="home_address">Home Address:</label> <input type="text"
						class="form-control" name="patientHomeAddress"
						id="patientHomeAddress" placeholder="Enter Patient's Home Address"
						th:value="${form544Object.patientHomeAddress}">
				</div>
				<div class="form-group">
					<label for="phone_no">Phone Number:</label> <input type="tel"
						class="form-control" name="patientsHomePhoneNo"
						id="patientsHomePhoneNo"
						placeholder="Enter Patient's Home Phone Number"
						th:value="${form544Object.patientsHomePhoneNo}">
				</div>
				<div class="form-group">
					<label for="peaditiric_patients_gurdian_name">Peaditiric
						Patient's Gurdian Name:</label> <input type="text" class="form-control"
						id="peaditiricPatientsGurdianName"
						name="peaditiricPatientsGurdianName"
						placeholder="Enter Peaditiric Patient's Gurdian Name"
						th:value="${form544Object.peaditiricPatientsGurdianName}">
				</div>
				<div class="form-group">
					<label for="disease">Disease:</label> <select class="form-control"
						id="disease" name="disease">
						<option th:each="disease:${diseaseList}" th:value="${disease.id}"
							th:text="${disease.diseaseName}"
							th:selected="${ disease.diseaseName==form544Object.disease.getDiseaseName() }"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="district">District:</label> <select
						class="form-control" id="district" name="district">
						<option th:each="district:${districtList}"
							th:value="${district.id}" th:text="${district.districtName}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="district">MOH Area:</label> <select
						class="form-control" id="mohArea" name="mohArea"></select>
				</div>
				<div class="form-group">
					<label for="institute">Institute:</label> <input type="text"
						class="form-control" id="institute" name="institute"
						placeholder="Enter Patient Admited Institute Name"
						th:value="${form544Object.institute}">
				</div>
				<div class="form-group">
					<label for="bht_no">BHT No:</label> <input type="text"
						class="form-control" id="bhtNo" name="bhtNo"
						placeholder="Enter Patient's BHT Number"
						th:value="${form544Object.bhtNo}">
				</div>
				<div class="form-group">
					<label for="ward">Ward:</label> <input type="text"
						class="form-control" id="ward" name="ward"
						placeholder="Enter Patient Admitted Ward"
						th:value="${form544Object.ward}">
				</div>
				<div class="form-group">
					<label for="date_of_onset">Date of Onset:</label> <input
						type="text" class="form-control" id="dateOfOnset"
						name="dateOfOnset" placeholder="Select date of Onset"
						th:value="${form544Object.dateOfOnset}">
				</div>
				<div class="form-group">
					<label for="date_of_admission">Date of Admission:</label> <input
						type="text" class="form-control" id="dateOfAdmission"
						name="dateOfAdmission" placeholder="Select date of Admision"
						th:value="${form544Object.dateOfAdmission}">
				</div>
				<div class="form-group">
					<label for="notifyByUnitDate">Date of Notification from
						Unit/Ward:</label> <input type="text" class="form-control"
						id="notifyByUnitDate" name="notifyByUnitDate"
						placeholder="Select date of Notification from Unit/Ward"
						th:value="${form544Object.notificationByUnitDate}">
				</div>
				<div class="form-group">
					<label for="notifyToMohDate">Date of Notification to MOH:</label> <input
						type="text" class="form-control" id="notifyToMohDate"
						name="notifyToMohDate"
						placeholder="Select date of Notification to MOH"
						th:value="${form544Object.notificationToMohDate}">
				</div>
				<div class="form-group">
					<label for="notifier_name">Notifier Name:</label> <input
						type="text" class="form-control" id="notifierName"
						name="notifierName" placeholder="Enter Name of the Notifier"
						th:value="${form544Object.notifierName}">
				</div>
				<div class="form-group">
					<label for="notifier_status">Notifier Status:</label> <input
						type="text" class="form-control" id="notifierStatus"
						name="notifierStatus" placeholder="Enter Status of the Notifier"
						th:value="${form544Object.notifierStatus}">
				</div>
				<div class="form-group">
					<label for="remarks">Remarks:</label> <input type="text"
						class="form-control" id="remarks" name="remarks"
						placeholder="Enter Remarks" maxlength="250"
						th:value="${form544Object.remarks}">
				</div>
				<div>
					<button type="submit" class="btn btn-success pull-right">Update</button>
					<button type="submit" class="btn btn-default pull-right"
						style="margin-right: 5px; width: 70px">Clear</button>
				</div>
			</form>
		</div>
	</div>

	<div id="footer"></div>
</body>

<!-- TODO
Header, Footer, menu should be included.
Frontend validations should be included.
Try to ake common the imports.
Clear btn doesn't function

 -->