<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Form 544 View</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/form544-custom.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div class="container">
		<div class="control-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label class="control-label">Form 544 ID</label>
				</div>
				<div class="panel-body">
					<div class="controls readonly" th:text="${form544Object.id}"></div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label class="control-label">Serial Number</label>
				</div>
				<div class="panel-body">
					<div class="controls readonly" th:text="${form544Object.serialNo}"></div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label class="control-label">Date of Entry</label>
				</div>
				<div class="panel-body">
					<div class="controls readonly"
						th:text="${form544Object.systemNotifiedDate}"></div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label class="control-label">Name</label>
				</div>
				<div class="panel-body">
					<div class="controls readonly"
						th:text="${form544Object.patientName}"></div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label class="control-label">Age</label>
				</div>
				<div class="panel-body">
					<div class="controls readonly">
						<span class="age-view-headings">Year :</span> <span
							th:with="year=${form544Object.age}/365"
							th:text="${T(Math).floor(year)}"></span> <span
							class="age-view-headings" style="padding-left: 100px">Month
							: </span><span th:with="month=(${form544Object.age}%365)/30"
							th:text="${T(Math).floor(month)}"></span> <span
							class="age-view-headings" style="padding-left: 100px">Day
							: </span><span th:with="day=((${form544Object.age}%365)%30)"
							th:text="${T(Math).floor(day)}"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label class="control-label">Sex</label>
				</div>
				<div class="panel-body">
					<div class="controls readonly" th:text="${form544Object.sex}"></div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label class="control-label">Home Address</label>
				</div>
				<div class="panel-body">
					<div class="controls readonly"
						th:text="${form544Object.patientHomeAddress}"></div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Phone Number</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.patientsHomePhoneNo}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Peaditiric Patient's Gurdian
							Name</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.peaditiricPatientsGurdianName}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Disease</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.disease.getDiseaseName()}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">MOH Area</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.mohArea.getMohAreaName()}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Institute</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.institute}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Bead Head Ticket</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly" th:text="${form544Object.bhtNo}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Admitted Ward</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly" th:text="${form544Object.ward}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Date of OnSet</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.dateOfOnset}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Date of Admission</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.dateOfAdmission}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Date of Notification from
							Unit/Ward</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.notificationByUnitDate}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Date of Notification to MOH</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.notificationToMohDate}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Notifier Name</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.notifierName}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Notifier Status</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${form544Object.notifierStatus}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Disease Confirmation Test
							Name</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${diseaseConfirmationTestObject?.testName}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Sample Collection Date</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${diseaseConfirmationTestObject?.sampleCollectionDate}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Name of Lab</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${diseaseConfirmationTestObject?.nameOfLab}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Disease Confirmation Test
							Result</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly"
							th:text="${diseaseConfirmationTestObject?.result}"></div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="control-label">Remarks</label>
					</div>
					<div class="panel-body">
						<div class="controls readonly" th:text="${form544Object.remarks}"></div>
					</div>
				</div>
			</div>
			<div>
				<a th:href="@{'/Form544/update_view?id=' + ${form544Object.id}}"><button
						type="submit" class="btn btn-success pull-right"
						style="margin-right: 5px; width: 70px">Update</button></a>
			</div>
		</div>

	</div>

	<div id="footer"></div>
</body>

<!-- TODO
Header, Footer, menu should be included.
Frontend validations should be included.
Try to make common the imports.
Style the content with spacing and margins

 -->