<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Form 411 Search</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/jquery.dataTables.min.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/form411-custom.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div class="container">
		<div class="page-header page-title-header">
			<h2>Search Form 411</h2>
		</div>
		<form id="form544FilterTbl">
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					class="form-control" id="patientName" name="patientName"
					placeholder="Enter Patient's Name" value="">
			</div>
			<div class="form-group">
				<label for="ageFrom">Age From:</label> <input type="text"
					class="form-control" id="ageFrom" name="ageFrom"
					placeholder="Enter Patient's Age From">
			</div>
			<div class="form-group">
				<label for="ageTo">Age To:</label> <input type="text"
					class="form-control" id="ageTo" name="ageTo"
					placeholder="Enter Patient's Age To" value="">
			</div>
			<div class="form-group">
				<label for="sex">Sex:</label> <select class="form-control"
					name="sex" id="sex">
					<option value="">Select Sex</option>
					<option th:each="sex:${sexList}" th:value="${sex}" th:text="${sex}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="ethnicGroup">Ethnic Group:</label> <select
					class="form-control" name="ethnicGroup" id="ethnicGroup">
					<option value="">Select Ethnic Group</option>
					<option th:each="ethnicGroup:${ethnicGroupList}"
						th:value="${ethnicGroup}" th:text="${ethnicGroup}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="notifiedDiseaseId">Notified Disease:</label> <select
					class="form-control" id="notifiedDiseaseId"
					name="notifiedDiseaseId">
					<option value="">Select Notified Disease</option>
					<option th:each="notifiedDisease:${diseaseList}"
						th:value="${notifiedDisease.id}"
						th:text="${notifiedDisease.diseaseName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="diseaseNotifiedDateFrom">From Date of Disease
					Notified:</label> <input type="text" class="form-control"
					id="diseaseNotifiedDateFrom" name="diseaseNotifiedDateFrom"
					placeholder="Select disease notified from date">
			</div>
			<div class="form-group">
				<label for="diseaseNotifiedDateTo">To Date of Disease
					Notified:</label> <input type="text" class="form-control"
					id="diseaseNotifiedDateTo" name="diseaseNotifiedDateTo"
					placeholder="Select disease notified to date">
			</div>
			<div class="form-group">
				<label for="confirmedDiseaseId">Confirmed Disease:</label> <select
					class="form-control" id="confirmedDiseaseId"
					name="confirmedDiseaseId">
					<option value="">Select Confirmed Disease</option>
					<option th:each="confirmedDisease:${diseaseList}"
						th:value="${confirmedDisease.id}"
						th:text="${confirmedDisease.diseaseName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="diseaseConfirmedDateFrom">From Date of Disease
					Confirmed:</label> <input type="text" class="form-control"
					id="diseaseConfirmedDateFrom" name="diseaseConfirmedDateFrom"
					placeholder="Select disease confirmed from date">
			</div>
			<div class="form-group">
				<label for="diseaseConfirmedDateTo">To Date of Disease
					Confirmed:</label> <input type="text" class="form-control"
					id="diseaseConfirmedDateTo" name="diseaseConfirmedDateTo"
					placeholder="Select disease confirmed to date">
			</div>
			<div class="form-group">
				<label for="dateOfOnsetFrom">From Date of Onset :</label> <input
					type="text" class="form-control" id="dateOfOnsetFrom"
					name="dateOfOnsetFrom" placeholder="Select date of Onset From">
			</div>
			<div class="form-group">
				<label for="dateOfOnsetTo">To Date of Onset:</label> <input
					type="text" class="form-control" id="dateOfOnsetTo"
					name="dateOfOnsetTo" placeholder="Select date of Onset To">
			</div>
			<div class="form-group">
				<label for="dateOfHospitalizationFrom">From Date of
					Hospitalized:</label> <input type="text" class="form-control"
					id="dateOfHospitalizationFrom" name="dateOfHospitalizationFrom"
					placeholder="Select date of Hospitalized From">
			</div>
			<div class="form-group">
				<label for="dateOfHospitalizationTo">To Date of
					Hospitalized:</label> <input type="text" class="form-control"
					id="dateOfHospitalizationTo" name="dateOfHospitalizationTo"
					placeholder="Select date of Hospitalized To">
			</div>
			<div class="form-group">
				<label for="dateOfDischargedFrom">From Date of Discharged:</label> <input
					type="text" class="form-control" id="dateOfDischargedFrom"
					name="dateOfDischargedFrom"
					placeholder="Select date of Discharged From">
			</div>
			<div class="form-group">
				<label for="dateOfDischargedTo">To Date of Discharged:</label> <input
					type="text" class="form-control" id="dateOfDischargedTo"
					name="dateOfDischargedTo"
					placeholder="Select date of Discharged To">
			</div>
			<div class="form-group">
				<label for="hospital">Name of Hospital:</label> <input type="text"
					class="form-control" id="hospital" name="hospital"
					placeholder="Enter Name of Hospital">
			</div>
			<div class="form-group">
				<label for="outcome">Outcome:</label> <select class="form-control"
					name="outcome" id="outcome">
					<option value="">Select Outcome</option>
					<option th:each="outcome:${outcomeList}" th:value="${outcome}"
						th:text="${outcome}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="isolated">Isolated at:</label> <select
					class="form-control" name="isolated" id="isolated">
					<option value="">Select Where Isolated</option>
					<option th:each="isolated:${isolatedList}" th:value="${isolated}"
						th:text="${isolated}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="phiRange">PHI Area:</label> <input type="text"
					class="form-control" id="phiRange" name="phiRange"
					placeholder="Enter the PHI Area">
			</div>
			<div class="form-group">
				<label for="mohArea">MOH Area:</label> <input type="text"
					class="form-control" id="mohArea" name="mohArea"
					placeholder="Enter the MOH Area">
			</div>
			<div>
				<span>Limit : </span><select id="limit">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="50">50</option>
				</select>
				<button type="button" class="btn btn-success pull-right"
					onclick="doSearch(true)">Search</button>
				<button type="button" class="btn btn-default pull-right"
					style="margin-right: 5px; width: 70px">Reset</button>
			</div>
		</form>
	</div>
	<div>
		<table class="table" id="form411FilterTbl">
			<thead>
				<tr>
					<th>#</th>
					<th>Patient Name</th>
					<th>Age</th>
					<th>Address</th>
					<th>Notified Disease</th>
					<th>Confirmed Disease</th>
					<th>Outcome</th>
					<th>PHI Area</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="form411FilterTblBody">
			</tbody>
		</table>
		<div class="pages-outer-container-div">
			<span>Pages : </span>
			<div id="pages" class="pages-selectbox-container-div"></div>
		</div>
	</div>
	<div id="footer"></div>
</body>

<!-- TODO
Frontend validations should be included.
Style the content with spacing and margins

 -->