<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Map Filter</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/jquery.dataTables.min.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/map-custom.js"></script>

</head>

<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div class="container">
		<div class="page-header page-title-header">
			<h2>Generate Distribution Map</h2>
		</div>
		<form id="mapFilterTbl" th:action="@{/Maps/distributionMap}"
			method="post" target="_blank">
			<div class="form-group">
				<label for="ageFrom">Age From:</label> <input type="text"
					class="form-control" id="ageFrom" name="ageFrom"
					placeholder="Enter Patient's Age From">
			</div>
			<div class="form-group">
				<label for="ageTo">Age To:</label> <input type="text"
					class="form-control" id="ageTo" name="ageTo"
					placeholder="Enter Patient's Age To" value="">
			</div>
			<div class="form-group">
				<label for="sex">Sex:</label> <select class="form-control"
					name="sex" id="sex">
					<option value="">Select Sex</option>
					<option th:each="sex:${sexList}" th:value="${sex}" th:text="${sex}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="ethnicGroup">Ethnic Group:</label> <select
					class="form-control" name="ethnicGroup" id="ethnicGroup">
					<option value="">Select Ethnic Group</option>
					<option th:each="ethnicGroup:${ethnicGroupList}"
						th:value="${ethnicGroup}" th:text="${ethnicGroup}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="confirmedDiseaseId">Confirmed Disease:</label> <select
					class="form-control" id="confirmedDiseaseId"
					name="confirmedDiseaseId">
					<option value="">Select Confirmed Disease</option>
					<option th:each="confirmedDisease:${diseaseList}"
						th:value="${confirmedDisease.id}"
						th:text="${confirmedDisease.diseaseName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="diseaseConfirmedDateFrom">From Date of Disease
					Confirmed:</label> <input type="text" class="form-control"
					id="confirmedDateFrom" name="confirmedDateFrom"
					placeholder="Select disease confirmed from date">
			</div>
			<div class="form-group">
				<label for="diseaseConfirmedDateTo">To Date of Disease
					Confirmed:</label> <input type="text" class="form-control"
					id="confirmedDateTo" name="confirmedDateTo"
					placeholder="Select disease confirmed to date">
			</div>
			<div class="form-group">
				<label for="hospital">Name of Hospital:</label> <input type="text"
					class="form-control" id="hospital" name="hospital"
					placeholder="Enter Name of Hospital">
			</div>
			<div class="form-group">
				<label for="outcome">Outcome:</label> <select class="form-control"
					name="outcome" id="outcome">
					<option value="">Select Outcome</option>
					<option th:each="outcome:${outcomeList}" th:value="${outcome}"
						th:text="${outcome}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="phiRange">PHI Area:</label> <input type="text"
					class="form-control" id="phiRange" name="phiRange"
					placeholder="Enter the PHI Area">
			</div>
			<div class="form-group">
				<label for="mohArea">MOH Area:</label> <input type="text"
					class="form-control" id="mohRange" name="mohRange"
					placeholder="Enter the MOH Area">
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" id="csrfToken"/>
			<div>
				<button type="submit" class="btn btn-success pull-right">Search</button>
				<button type="button" class="btn btn-default pull-right"
					style="margin-right: 5px; width: 70px">Reset</button>
			</div>
		</form>
	</div>
	<div id="footer"></div>
</body>

<!-- TODO
Frontend validations should be included.
Style the content with spacing and margins

 -->