<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Disease Distribution Map</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/jquery.dataTables.min.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
</head>
<body>

	<table class="table" id="mohAreaVsDiseaseTbl">
		<thead>
			<tr id="mohAreaVsDiseaseTblHeadings">
				<th>MOH Area</th>
			</tr>
		</thead>
		<tbody id="mohAreaVsDiseaseTblBody">
		</tbody>
	</table>


</body>
</html>

<script th:inline="javascript">

	/*<![CDATA[*/
	processObjList([[${mohAreaVsDiseaseSummaryList}]]);
	 /*]]>*/
	 
	 function processObjList(mohAreaVsDiseaseSummaryList){
		 var diseaseNameArr = composeDiseaseNameArr(mohAreaVsDiseaseSummaryList);
		 var diseaseRowArr = [];
		
		 var diseaseTotals = composeTotalForDiseases(diseaseNameArr, mohAreaVsDiseaseSummaryList);
		 
			for(var counter1 = 0; counter1 < mohAreaVsDiseaseSummaryList.length; counter1++){
				var mohAreaName = mohAreaVsDiseaseSummaryList[counter1].mohArea;
				var diseaseVsPatientSummaryDtos = mohAreaVsDiseaseSummaryList[counter1].diseaseVsPatientSummaryDtos;
				var diseaseRow = [];
				var totalForMohArea = 0;
				diseaseRow[0] = mohAreaName;
				
				for(var counter2= 0;counter2 < diseaseVsPatientSummaryDtos.length; counter2++){
					var diseaseNameForRow = diseaseVsPatientSummaryDtos[counter2].diseaseName;
					var arrayIndexForDiseaseCount = (diseaseNameArr.indexOf(diseaseNameForRow)) + 1;
					
					for(var counter3 = 0; counter3 < (diseaseNameArr.length) + 1; counter3++){
						if(arrayIndexForDiseaseCount == counter3){
							diseaseRow[counter3] = diseaseVsPatientSummaryDtos[counter2].count;
							totalForMohArea = totalForMohArea + diseaseVsPatientSummaryDtos[counter2].count;
						}else if(counter3 != 0 && !(diseaseRow[counter3] > 0)){
							diseaseRow[counter3] = 0;
						}
					}
				}
				diseaseRow.push(totalForMohArea);
				diseaseRowArr.push(diseaseRow);
				
			}
			diseaseTotals.unshift("Total");
			diseaseRowArr.push(diseaseTotals);
			drawReport(diseaseNameArr, diseaseRowArr);
	 }
	 
	 function composeDiseaseNameArr(mohAreaVsDiseaseSummaryList){
		 var diseaseNameArr = [];
		 
		 for(var i = 0; i < mohAreaVsDiseaseSummaryList.length; i++){
			 var diseaseVsPatientSummaryDtos = mohAreaVsDiseaseSummaryList[i].diseaseVsPatientSummaryDtos;
			 
			 for(var x = 0; x < diseaseVsPatientSummaryDtos.length; x++){
				 var diseaseName = diseaseVsPatientSummaryDtos[x].diseaseName;
				 
				 if(!diseaseNameArr.includes(diseaseName)){
					 diseaseNameArr.push(diseaseName);
				 }
			 }
		}
		
		 return diseaseNameArr;
	 }
	 
	 function composeTotalForDiseases(diseaseNameArr, mohAreaVsDiseaseSummaryList){
		 var diseaseTotalArr = [];
		 
		 for(var x = 0; x < diseaseNameArr.length; x++){
			 var totalForDisease = 0;
			 for(var i = 0; i < mohAreaVsDiseaseSummaryList.length; i++){
				 var diseaseVsPatientSummaryDtos = mohAreaVsDiseaseSummaryList[i].diseaseVsPatientSummaryDtos;
				 
				 for(var y = 0; y < diseaseVsPatientSummaryDtos.length; y++){
					 var diseaseName = diseaseVsPatientSummaryDtos[y].diseaseName;
					 
					 if(diseaseNameArr[x] == diseaseName){
						 totalForDisease = totalForDisease + diseaseVsPatientSummaryDtos[y].count;
					 }
				 }
			 }
			 
			 diseaseTotalArr[x] = totalForDisease;
		 }
		 
		 function totalOfInsideArrVals(arr){
			 var total = 0;
			 for(var counter = 0; counter < arr.length; counter++){
				 total = total + arr[counter];
			 }
			 
			 return total;
		 }
		 
		 diseaseTotalArr.push(totalOfInsideArrVals(diseaseTotalArr));
		 
		 return diseaseTotalArr;
	 }
	 
	 function drawReport(diseaseNameList, diseaseRows){
		 for (i = 0; i < diseaseNameList.length; i++) {
				$("#mohAreaVsDiseaseTblHeadings")
						.append(
								'<th>' + diseaseNameList[i] + '</th>');
			}
		 $("#mohAreaVsDiseaseTblHeadings")
			.append(
					'<th>' + "Total" + '</th>');
		 
		 for (i = 0; i < diseaseRows.length; i++) {
				$("#mohAreaVsDiseaseTblBody")
						.append(
								'<tr>' + generateCols(diseaseRows[i]) + '</tr>');
			}
		 
		 function generateCols(diseaseRow){
			 var cols = "";
			 for(var counter = 0; counter < (diseaseNameList.length)+2; counter++){
				 cols = cols + "<td>" + decideValueOrDash(diseaseRow[counter]) + "</td>";
			 }
			 
			 return cols;
		 }
		 
		 function decideValueOrDash(value){
			 if(value == undefined || value==0){
				 return "-";
			 }else{
				 return value;
			 }
		 }
	 }
</script>