<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trend of Disease</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/graph-custom.js"></script>
</head>
<body>
	<div id="banner"></div>

	<div id="navigation"></div>

	<div class="container">
		<div class="page-header page-title-header">
			<h2>Generate Monthly Disease Trend Graph</h2>
		</div>
		<form th:action="@{/graphs/monthlyDiseaseTrend}" method="get"
			target="_blank">
			<div class="form-group">
				<label for="district">District:</label> <select class="form-control"
					id="district" name="district">
					<option th:each="district:${districtList}"
						th:value="${district.id}" th:text="${district.districtName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="disease">Disease:</label> <select class="form-control"
					id="disease" name="disease">
					<option th:each="disease:${diseaseList}" th:value="${disease.id}"
						th:text="${disease.diseaseName}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="district">Year:</label> <select class="form-control"
					id="year" name="year" required>
					<option value="" disabled selected>Year</option>
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success pull-right">Submit</button>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		generateYearList('year');
	});
</script>
</html>