<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Summary of Communicable Diseases - MOH Area</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/custom.css">
<link rel="stylesheet" href="../css/jquery.dataTables.min.css">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/report-custom.js"></script>

<style>
#myRef {
	position: absolute;
	top: 89%;
	left: 17%;
	font-size: 10px;
}

#rptDateTxt {
	position: absolute;
	top: 89%;
	left: 81%;
	font-size: 10px;
}

#yourRef {
	position: absolute;
	top: 89%;
	left: 52%;
	font-size: 10px;
}

#headerDiv {
	position: relative
}

</style>
</head>
<body>
	<div style="position: relative" id="headerDiv">
		<div th:text="${my_ref}" id="myRef"></div>
		<div th:text="${report_date}" id="rptDateTxt"></div>
		<div th:text="${your_ref}" id="yourRef"></div>
		<img class="report-header-img" src="../img/summary_letter_head.png">
	</div>
	<div>
		<div style="color: crimson">
			<h5>
				<span th:text="${res_addr}" id="resAddr"></span>
			</h5>
		</div>
		<div style="text-align: center; color: blueviolet">
			<h4>
				SUMMARY OF COMMUNICABLE DISEASES - WARDS <br><span th:text="${institute}"></span>
			</h4>
		</div>
	</div>
	<br>
	<div style="color: goldenrod">
		<h5>
			Starting from <span th:text="${from_year}"></span>/<span
				th:text="${from_month}" id="fromMonth"></span> to end of <span
				th:text="${to_year}"></span>/<span th:text="${to_month}"
				id="toMonth"></span>
		</h5>
	</div>
	<div style="min-height:550px">
		<table class="table" id="mohVsWardsTbl">
			<thead>
				<tr id="wardVsDiseaseTblHeadings">
					<th>Disease/Ward</th>
				</tr>
			</thead>
			<tbody id="wardVsDiseaseTblBody">
			</tbody>
		</table>
	</div>
	<div>
		<img class="report-footer-img" src="../img/summary_letter_footer.png">
	</div>

</body>
</html>

<script th:inline="javascript">

	/*<![CDATA[*/
	           
	//console.log([[${wardVsDiseaseList}]]);
	
	processObjList([[${wardVsDiseaseList}]]);
	 /*]]>*/
	 
	 /**
	 wardVsDiseaseList structure
	 
	 [
	  {"ward":"03","diseaseVsPatientSummaryDtos":[{"diseaseName":"Dengue Fever","count":1},{"diseaseName":"Meningitis","count":9}]},
	  {"ward":"04","diseaseVsPatientSummaryDtos":[{"diseaseName":"Dengue Fever","count":7}
	 ]
	  
	 
	 **/
	 
	 
	 /**
	 Summary table to be generated
	 

	 Disease/Ward	|	03	|	04	| 	06	|	Total
	 Dengue			|	1	|	7	|	1	|	9
	 Meningitis		|	9	|	-	|	-	|	9
	 Total			|	10	|	7	|	1	|	18
	 
	 
	 **/
	 
	 function processObjList(wardVsDiseaseSummaryList){
		 
		 //From the wardVsDiseaseList we create a distinct list of wards and diseaseNames
		 var wardArr = composeWardArr(wardVsDiseaseSummaryList);
		 var diseaseNameArr = composeDiseaseNameArr(wardVsDiseaseSummaryList);
		 
		 //We create the total row which is the fnal row of the summary tbl
		 var wardTotals = composeTotalForWards(wardArr, wardVsDiseaseSummaryList); 
		 
		 //Bag for rows of the table
		 var wardRowArr = [];
		 
		 //We select a disease from diseaseNameArr and try to create a row
		 for(var counter1=0; counter1 < diseaseNameArr.length; counter1++){
			 //This will be included a data for each row in the summary table
			 var wardRaw = [];
			 var totalForDisease = 0;
			 var diseaseName = diseaseNameArr[counter1];
			 //Put the disease name to the first column of the row
			 wardRaw[0] = diseaseName;
			 
			 //We are looping wardVsDiseaseSummaryList
			 for(var counter2=0; counter2 < wardVsDiseaseSummaryList.length; counter2++){
				 var wardForRow = wardVsDiseaseSummaryList[counter2].ward;
				 var diseaseVsPatientSummaryDtos = wardVsDiseaseSummaryList[counter2].diseaseVsPatientSummaryDtos;
				 //To include the count we find the table column as value's index+1 in the wardForRow
				 var arrayIndexForWardCount = (wardArr.indexOf(wardForRow)) + 1;
				 
				 //Now we loop through the diseaseVsPatientSummaryDtos
				 for(var counter3=0; counter3<diseaseVsPatientSummaryDtos.length;counter3++){
					 if(diseaseName == diseaseVsPatientSummaryDtos[counter3].diseaseName){
					 	//We include the count value to the correct column cell
						wardRaw[arrayIndexForWardCount] = diseaseVsPatientSummaryDtos[counter3].count;
					 	//Same time we calculate total for each disease and include
					 	totalForDisease = totalForDisease + diseaseVsPatientSummaryDtos[counter3].count;
					 }else if(counter3 != 0 && !(wardRaw[counter3] > 0)){
						//We put 0s to every cell in the row where a count is missing
						 wardRaw[counter3] = 0;
					 }
				 }
			 }
			 //Even though we fill 0s there are occassions no counts available for some indexes of the array. We put 0s for all those arrays.
			 wardRaw = fillArrayBlanks(wardArr, wardRaw);
			 //We add disease total to the row
			 wardRaw.push(totalForDisease);
			 //We add the created row to the row collection
			 wardRowArr.push(wardRaw);
		 }
		 //We add term "Total" to the wardTotal row
		 wardTotals.unshift("Total");
		 //We add that row to the row collection
		 wardRowArr.push(wardTotals);
		 drawReport(wardArr, wardRowArr);	 
	 }
	 
	 function composeTotalForWards(wardArr, wardVsDiseaseSummaryList){
		 var wardTotalArr = [];
		 
		 for(var x = 0; x < wardArr.length; x++){
			 var totalForWard = 0;
			 for(var i = 0; i < wardVsDiseaseSummaryList.length; i++){
				 var diseaseVsPatientSummaryDtos = wardVsDiseaseSummaryList[i].diseaseVsPatientSummaryDtos;
				 
				 for(var y = 0; y < diseaseVsPatientSummaryDtos.length; y++){
					 var ward = wardVsDiseaseSummaryList[i].ward;
					 
					 if(wardArr[x] == ward){
						 totalForWard = totalForWard + diseaseVsPatientSummaryDtos[y].count;
					 }
				 }
			 }
			 
			 wardTotalArr[x] = totalForWard;
		 }
		 
		 function totalOfInsideArrVals(arr){
			 var total = 0;
			 for(var counter = 0; counter < arr.length; counter++){
				 total = total + arr[counter];
			 }
			 
			 return total;
		 }
		 
		 wardTotalArr.push(totalOfInsideArrVals(wardTotalArr));
		 
		 return wardTotalArr;
	 }
	 
	 function composeWardArr(wardVsDiseaseSummaryList){
		 var wardArr = [];
		 
		 for(var i = 0; i < wardVsDiseaseSummaryList.length; i++){
			 wardArr.push(wardVsDiseaseSummaryList[i].ward);
		}
		
		 return wardArr;
	 }
	 
	 function composeDiseaseNameArr(wardVsDiseaseSummaryList){
		 var diseaseNameArr = [];
		 
		 for(var i = 0; i < wardVsDiseaseSummaryList.length; i++){
			 var diseaseVsPatientSummaryDtos = wardVsDiseaseSummaryList[i].diseaseVsPatientSummaryDtos;
			 
			 for(var x = 0; x < diseaseVsPatientSummaryDtos.length; x++){
				 var diseaseName = diseaseVsPatientSummaryDtos[x].diseaseName;
				 
				 if(!diseaseNameArr.includes(diseaseName)){
					 diseaseNameArr.push(diseaseName);
				 }
			 }
		}
		
		 return diseaseNameArr;
	 }
	 
	 function fillArrayBlanks(wardArr, diseaseRow){
		 for(var counter1=0;counter1<wardArr.length;counter1++){
			 if(diseaseRow[counter1+1] == undefined){
				 diseaseRow[counter1+1] = 0;
			 }
		 }
		 //console.log(diseaseRow);
		 return diseaseRow;
	 }
	 
	 function drawReport(wardList, wardRows){
		 for (var i = 0; i < wardList.length; i++) {
				$("#wardVsDiseaseTblHeadings")
						.append(
								'<th>' + wardList[i] + '</th>');
			}
		 $("#wardVsDiseaseTblHeadings")
			.append(
					'<th>' + "Total" + '</th>');
		 
		 for (var i = 0; i < wardRows.length; i++) {
				$("#wardVsDiseaseTblBody")
						.append(
								'<tr>' + generateCols(wardRows[i]) + '</tr>');
			}
		 
		 function generateCols(wardRow){
			 var cols = "";
			 for(var counter = 0; counter < (wardList.length)+2; counter++){
				 cols = cols + "<td>" + decideValueOrDash(wardRow[counter]) + "</td>";
			 }
			 
			 return cols;
		 }
		 
		 function decideValueOrDash(value){
			 if(value == undefined || value==0){
				 return "-";
			 }else{
				 return value;
			 }
		 }
	 }
	 
	 function formatPeriod(){
		 var fromMonthIndex = document.getElementById('fromMonth').innerHTML;
		 document.getElementById('fromMonth').innerHTML = getMonthByIndex(parseInt(fromMonthIndex));
		 
		 var toMonthIndex = document.getElementById('toMonth').innerHTML;
		 document.getElementById('toMonth').innerHTML = getMonthByIndex(parseInt(toMonthIndex));
	 }
	 
	 $(document).ready(function() {
		 formatReseiverAddr();
		 formatPeriod();
	 });
</script>