.footer {
	text-align: center;
	margin-top: 30px
}

.banner {
	background-color: #AAD1EF;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px
}

.navigation-bar {
	background-color: transparent;
	font-size: 14px
}

.pages-selectbox-container-div {
	display: inline
}

.pages-outer-container-div {
	float: right
}

input[data-readonly] {
	pointer-events: none;
}

.age-view-headings {
	font-weight: bold;
}

.report-header-img{
	width:100%
}

.report-footer-img{
	width:100%
}

.page-title-header{
	margin-bottom:50px
}

#map_canvas {
	width: 980px;
	height: 500px;
}