.footer {
	text-align: center;
	margin-top: 30px
}

.banner {
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	width:100%;
	display:inline-block;
	text-align:center
}

#banner{
	height:155px
}

.emblem-sri-lanka{
	width:15%;
	float:left;
}

.emblem-sri-lanka > img{
	width:43%;
}

.emblem-matale-hos{
	width:15%;
	float:left;
}

.emblem-matale-hos > img{
	width:61%
}

.banner-title{
	width:67.8%;
	float:left;
}

.navigation-bar {
	background-color: transparent;
	font-size: 14px
}

.pages-selectbox-container-div {
	display: inline
}

.pages-outer-container-div {
	float: right
}

input[data-readonly] {
	pointer-events: none;
}

.age-view-headings {
	font-weight: bold;
}

.report-header-img {
	width: 100%
}

.report-footer-img {
	width: 100%
}

.page-title-header {
	margin-bottom: 50px
}

#map_canvas {
	width: 980px;
	height: 500px;
}

.pac-container {
	z-index: 10000 !important;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}